<header class="head-container">

    <div class="logo">
        <a class="nav-link nav-logo" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/images/logo.png" />
        </a>
    </div>

    <ul class="header-nav">
        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Catalog">Каталог</a></li>
        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">О Нас</a></li>
        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Guarantee">Гарантия</a></li>
    </ul>
</header>