@model AC.ViewModels.Product.ProductCardViewModel

<div class="card-container">
    <div class="border">
        <div class="wrap">
            <div class="product-wrap">
                <img src="~/images/products/@Model.Image" alt="Avatar" style="width:100%">
            </div>
            <div class="product-info">
                <h2 class="product-title">
                    @Model.Name
                </h2>
                <div class="product-price">@Model.Price.ToString("0")</div>
                <div class="product-price">@Model.OldPrice.ToString("0")</div>
            </div>
        </div>
    </div>
</div>