<div class="card-container">
    <div class="border">
        <div class="wrap">
            <div class="product-wrap">
                <a href="#">
                    <img src="#">
                </a>
            </div>
            <div class="product-info">
                <h2 class="product-title">
                    наименование
                </h2>
                <div class="product-price">цена</div>
            </div>
        </div>
    </div>
</div>