@model IEnumerable<AC.ViewModels.Product.ProductCardViewModel>

@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewData["Title"]</h1>

<p>INDEX PAGE</p>

<div class="maincards-home">
    @foreach (var product in Model)
    {
        @await Html.PartialAsync("_ProductCardPartial", product)
    }
</div>

<div style="text-align:center">
    <a class="w3-button w3-black" asp-area="" asp-controller="Catalog" asp-action="Index">Перейти в каталог</a>
</div>

