@model IEnumerable<AC.ViewModels.Product.ProductCardViewModel>

@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewData["Title"]</h1>

<p>INDEX PAGE</p>

<div class="maincards-home">
    @foreach (var product in Model)
    {
        @await Html.PartialAsync("_ProductCardPartial", product)
    }
</div>